* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #696969;
}

h1 a {
  color: #fff;
  font-size: 130%;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
  color: #ffff00;
}

#wrapper {
  width: 900px;
  min-width:500px;
  /* margin: auto; */
}

#header {
  position: relative;
  padding: 10px;
  margin-top:0px;
  margin-right:auto;
  background-color: #cc3388;
  -webkit-border-top-right-radius: 600px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-radius-topright: 600px;
  -moz-border-radius-bottomright: 100px;
  border-top-right-radius: 600px;
  border-bottom-right-radius: 20px;
  
}

#header #face {
  margin-right: 10px
  padding: 0px;
  display: inline-block;
/*  border: solid 1px #000;*/
  overflow: hidden;*/
  -webkit-border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px; 
/*  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, .4);
  box-shadow: 0 0px 0px rgba(0, 0, 0, .4); */
}

#header h1 {
  position: absolute;
  top: 13px;
  left: 138px;
  padding: 1px 30px 1px 4px;
  z-index:3;
  background-color: #7f7f7f;
  background: -webkit-gradient(linear, left top, left bottom, from(#0a0a0a), to(#7f7f7f));
  background: -moz-linear-gradient(top, #0a0a0a, #7f7f7f);
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px; 

}

#header #description {
  color: #fff;
  background-color: #d9d9d9;
  background: -webkit-gradient(linear, left top, left bottom, from(#949494), to(#d9d9d9));
  background: -moz-linear-gradient(top, #949494, #d9d9d9);
  width: 635px;
  padding: 1px 8px 1px 4px;
  position: absolute;
  top: 82px;
  left: 138px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; 
}

#header #description #about {
	/*text-align: right */
}

#header #search-form {
  /*position: absolute;
  z-index:1;
  top: 38px;
  right: 45px;*/
}

#header #search-form #s {
  position: absolute;
  z-index:1;
  top: 53px;
  right: 115px;

  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 5px;
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #fff;
  font-size: 13px;
  
  padding: 3px 50px 3px 45px;
  width: 230px;
}

#header #search-form #search-submit {
  /*font-size: 100%;
  padding: 3px;*/
  width: 16px;
  height: 16px;
  position:absolute ;
  z-index:2;
  top: 57px;
  right: 130px;

}

#description a {
  color: #aaa;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

#description a:hover {
  color: #ffff00;
}

#social-links {
  list-style-type: none;
  position: absolute;
  top: 114px;
  left: 138px;
  width: 635px;
  padding: 1px 8px 1px 4px;
  background-color: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#fcfcfc));
  background: -moz-linear-gradient(top, #dfdfdf, #fcfcfc);
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 30px; 
}

#social-links .social-link {
  display: inline;
  padding: 3px 3px 3px 20px;
}

#social-links .social-link a {
  color: #aaa;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

#social-links .social-link a:hover {
  color: #ffff00;
}

#social-link-twitter {
  background: url("/hioki/wp-content/themes/wp29/images/twitter.ico") no-repeat scroll 0 3px transparent;
}

#social-link-tumblr {
  background: url("/hioki/wp-content/themes/wp29/images/tumblr.ico") no-repeat scroll 0 3px transparent;
}

#social-link-facebook {
  background: url("/hioki/themes/wp29/images/facebook.ico") no-repeat scroll 0 3px transparent;
}

#social-link-flickr {
  background: url("/hioki/wp-content/themes/wp29/images/flickr.ico") no-repeat scroll 0 3px transparent;
}

#social-link-delicious {
  background: url("/hioki/wp-content/themes/wp29/images/delicious.ico") no-repeat scroll 0 3px transparent;
}

#social-link-github {
  background: url("/hioki/wp-content/themes/wp29/images/github.ico") no-repeat scroll 0 3px transparent;
}

#social-link-lastfm {
  background: url("/hioki/wp-content/themes/wp29/images/lastfm.ico") no-repeat scroll 0 3px transparent;
}

#content {
  /* position:absolute;  
  right:0; */ 
  margin-top:5px;
  margin-bottom:20px;
  margin-left:0px;
  padding: 15px 45px 500px 45px;
  /*width: 800px;
  min-width:400px; */
  /* background: -webkit-gradient(linear, left top, left bottom, from(#2c4762), to(#3a5772)); */
  background-color: #000;
  -webkit-border-top-right-radius: 100px;
  -webkit-border-bottom-right-radius: 600px;
  -moz-border-radius-topright: 100px;
  -moz-border-radius-bottomright: 600px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 60px;
  }

.page-title {
  color: #fff;
  font-size: 140%;
  padding: 20px 0;
}

.no-result {
  color: #ccc;
}

.post {
  margin: 10px 0;
  padding: 10px 40px 30px 40px;
  border-bottom: 2px solid #bbb;
  background-color: #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}

ul.post-date {
  padding: 5px 10px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #999;
  background-color: #ececec;
  background: -webkit-gradient(linear, left top, left bottom, from(#b7b7b7), to(#ececec));
  background: -moz-linear-gradient(top, #b7b7b7, #ececec);
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  list-style-type: none;
  text-align: center;
  width: 40px;
  position: absolute;
  top: 20px;
  left: -35px;
}

ul.post-date a {
  color: #666;
  text-decoration: none;
}

ul.post-date a:hover {
  text-decoration: underline;
}

h2 a {
  color: #333;
  font-size: 130%;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

.post-metadata {
  font-size: 90%;
  color: #666;
  margin-top: 20px;
}

.post-metadata .label {
  padding: 3px 6px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  background-color: #3a5772;
  opacity: 0.6;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.post-metadata a {
  color: #333;
}

.social-services {
  margin-bottom: 15px;
  padding: 5px 0;
  vertical-align: middle;
}

.social-services * {
  vertical-align: middle;
}

.social-services .hatena-bookmark-button-frame {
  margin-right: 20px;
}

.entry-content {
  font-size: 90%;
}

.entry-content a, .comment a {
  color: #2c4762;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

.entry-content p {
  padding: 5px 0;
}

.entry-content table {
  padding: 20px;
}

.entry-content table td {
  padding: 1px 10px;
  background-color: #eee;
  border: 1px solid #fff;
}

.entry-content ul, .entry-content ol {
  padding: 10px;
  list-style-position: inside;
}

.entry-content blockquote {
  margin: 10px 0;
  padding: 20px;
  background-color: #eee;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 110%;
}

h3, h4 {
  padding: 10px 0;
}

.entry-content pre {
  font-size: 120%;
  margin: 10px 0;
  padding: 20px 30px;
  background-color: #eee;
}

#feedbacks {
  margin: 20px;
  padding: 0 20px 10px;
  background-color: #fff;
  border-bottom: 2px solid #bbb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#feedbacks #hatena-bookmark-comments {
  margin-bottom: 20px;
}

#feedbacks #hatena-bookmark-comments li {
  font-size: 80%;
  padding: 3px 0;
  list-style-type: none;
}

#feedbacks #hatena-bookmark-comments li.without-comment {
  display: inline;
}

#feedbacks #hatena-bookmark-comments li a {
  color: #2C4762;
  border-bottom: 1px solid #CCCCCC;
  margin: 0 5px;
  text-decoration: none;
}

#feedbacks #hatena-bookmark-comments li * {
  vertical-align: middle;
}

#feedbacks #tweets {
  margin-bottom: 20px;
}

#feedbacks #tweets li {
  font-size: 80%;
  padding: 3px 0;
  list-style-type: none;
}

#feedbacks #tweets li a {
  color: #2C4762;
  border-bottom: 1px solid #CCCCCC;
  margin: 0 5px;
  text-decoration: none;
}

#feedbacks #tweets li * {
  vertical-align: middle;
}

#feedbacks #facebook-comments {
  margin-bottom: 20px;
}

#feedbacks .comment-list {
  list-style-type: none;
}

#feedbacks .comment-list li {
  font-size: 80%;
  padding: 10px 0;
}

#feedbacks .comment-list li p {
  padding: 5px 30px;
}

#feedbacks .comment-list li p a {
  color: #2C4762;
  border-bottom: 1px solid #CCCCCC;
  text-decoration: none;
}

.comment-metadata * {
  vertical-align: middle;
}

.comment-metadata cite {
  font-style: normal;
}

.comment-metadata a {
  color: #2C4762;
  border-bottom: 1px solid #CCCCCC;
  text-decoration: none;
}

#comment-form p a {
  color: #2C4762;
  border-bottom: 1px solid #CCCCCC;
  text-decoration: none;
}

#comment-form input {
  width: 200px;
}

#comment-form textarea {
  margin-top: 10px;
  width: 100%;
}

#footer {
  position: relative;
  margin-bottom:0px; 
  color: #999;
  font-size: 90%;
  padding: 20px 0 30px;
  background-color: #cc3388;
  text-align: center;
  -webkit-border-top-right-radius: 80px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 80px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 0px;
}

#footer a {
  color: #ccc;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-left a, .align-right a {
  color: #a6b9ca;
  text-decoration: none;
  padding: 5px 15px;
  background-color: #1f354c;
}

.align-left a:hover, .align-right a:hover {
  color: #cdd2d9;
}

.align-left span, .align-right span {
  color: #999;
  font-size: 80%;
}

#notification {
  font-size: 200%;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}
